<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921010936546-s279ebdqsmluhqhm5bpr2tvtsqqu8fbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921010936546-s279ebdqsmluhqhm5bpr2tvtsqqu8fbr</string>
	<key>API_KEY</key>
	<string>AIzaSyBuu3StNHc2DUC_HhT7WDui9vqG1YVhA8k</string>
	<key>GCM_SENDER_ID</key>
	<string>921010936546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newTest</string>
	<key>PROJECT_ID</key>
	<string>my-new-test-app-ef157</string>
	<key>STORAGE_BUCKET</key>
	<string>my-new-test-app-ef157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921010936546:ios:07dbe44b1f5d88b5b21cbb</string>
</dict>
</plist>